@using ExploreUmami.Data.Models.Enums;
@model ReservationDetailsViewModel

<div class="row mt-3">
    <div class="col-md-4 mb-3">
        <div class="card">
        <img class="card-img-top" src="@Model.Business.ImageUrl" alt="@Model.Business.Title Image" style="height: 200px;">
        </div>
    </div>

    <div class="col-md-4">
        <h2>Reservation Details</h2>
        <p><b>ID:</b> @Model.Id</p>
        <p><b>Business Name:</b> @Model.Business.Title</p>
        <p><b>Reservation Date:</b> @Model.ReservationDate.ToString("yyyy-MM-dd")</p>
        <p><b>Status:</b> @Model.Status</p>
        <h2>User Information</h2>
        <p><b>User Name:</b> @Model.User.UserName</p>
        <p><b>Notes:</b> @Model.Notes</p>  
    </div>

    <div class="col-md-4">
        @switch (Model.Status) 
        {
            case ReservationStatus.Pending:
            <div class="row">
                <form asp-action="ChangeStatus" method="post">
                    <div class="d-flex justify-content-between">
                        <input type="hidden" name="reservationId" asp-for="Id" />
                        <div class="form-group col-md-4">
                            <select id="status" name="status" class="form-control">
                                <option value="@ReservationStatus.Confirmed">Confirmed</option>
                                <option value="@ReservationStatus.Completed">Completed</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                                <button type="submit" class="btn btn-primary col-md-12">Change Status</button>
                        </div>
                    </div>
                </form>
            </div>
                <div class="row mt-3 justify-content-between">
                <div class="col-md-6">
                    <form asp-action="Complete" method="post">
                        <input type="hidden" name="reservationId" asp-for="Id" />
                        <button type="submit" class="btn btn-success">Complete Reservation</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form asp-action="Cancel" method="get">
                        <input type="hidden" name="reservationId" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Cancel Reservation</button>
                    </form>
                </div>
            </div>
            break;
            case ReservationStatus.Confirmed:
                <div class="row">
                    <form asp-action="ChangeStatus" method="post">
                        <div class="d-flex justify-content-between">
                            <input type="hidden" name="reservationId" asp-for="Id" />
                            <div class="form-group col-md-4">
                                <select id="status" name="status" class="form-control">
                                    <option value="@ReservationStatus.Pending">Pending</option>
                                    <option value="@ReservationStatus.Completed">Completed</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary col-md-12">Change Status</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row mt-3 justify-content-between">
                    <div class="col-md-6">
                        <form asp-action="Complete" method="post">
                            <input type="hidden" name="reservationId" asp-for="Id" />
                            <button type="submit" class="btn btn-success">Complete Reservation</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form asp-action="Cancel" method="get">
                            <input type="hidden" name="reservationId" asp-for="Id" />
                            <button type="submit" class="btn btn-danger">Cancel Reservation</button>
                        </form>
                    </div>
                </div>
            break;
            case ReservationStatus.Completed:
            break;
            case ReservationStatus.Cancelled:
            break;
        }
    </div>

</div>
<hr />