@model IEnumerable<UserVisitDetailsViewModel>

@{
    ViewData["Title"] = "All visits to your businesses";
}

<div class="row mt-3">
    <div class="col-md-12">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <hr />
        @if (Model.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Visit Date</th>
                        <th>Business</th>
                        <th>User Details</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var visit in Model)
                    {
                        <tr>
                            <td>@visit.VisitDate.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>
                                <a asp-controller="Business" asp-action="Details" asp-route-id="@visit.Business.Id">@visit.Business.Title</a>
                            </td>
                            <td>
                                <p class ="m-1">@visit.User.FullName</p>
                                <p class="m-1">@visit.User.UserName</p>
                            </td>
                            @if (visit.Review != null)
                            {
                                int numberOfFullStars = (int)visit.Review.Rating;
                                bool hasHalfStar = visit.Review.Rating % 1 != 0;
                                int numberOfEmptyStars = 5 - numberOfFullStars - (hasHalfStar ? 1 : 0);

                                <td class="justify-content-center">
                                    <p class="m-1">@visit.Review.Subject</p>
                                    <p class="m-1">
                                    @for (int i = 0; i < numberOfFullStars; i++)
                                    {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    }
                                    @if (hasHalfStar)
                                    {
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    }
                                    @for (int i = 0; i < numberOfEmptyStars; i++)
                                    {
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    }
                                    </p>
                                    <p class="m-1"><i>@visit.Review.Content</i></p>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <p class="m-1">The user has not left a review for this business yet.</p>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="text-center">There are no visits for your businesses</h3>
        }
    </div>
</div>