@model MakeReservationFormModel

@{
    ViewData["Title"] = $"Make Reservation for {Model.Business.Title}";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="details-img col-6">
            <img class="card-img-top" style="width: 69vh;" src="@Model.Business.ImageUrl" alt="Business Image">
        </div>

        <div class="card col-6 border-0">
            <p>@Model.Business.Description</p>
            <p><b>Located at:</b> @Model.Business.Address</p>
            <p><b>Business Number:</b> @Model.Business.PhoneNumber</p>
        </div>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="ReservationDate">Reservation Date:</label>
            <input asp-for="ReservationDate" type="date" class="form-control" />
            <span asp-validation-for="ReservationDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Notes">Notes:</label>
            <textarea asp-for="Notes" class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Make Reservation" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}